In [12]:
#importar datos para leer
import pandas as pd
df = pd.read_csv('data_corona_group.csv', sep=';')

In [13]:
df.head()

,'Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered',Unnamed: 8
0,'1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1,0,0',NaN
1,'2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14,0,0',NaN
2,'3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6,0,0',NaN
3,'4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1,0,0',NaN
4,'5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0,0,0',NaN

In [14]:
df.count()

'Sno              121
Date              121
Province/State     95
Country           121
Last Update       121
Confirmed         121
Deaths            121
Recovered'        121
Unnamed: 8         13
dtype: int64

In [17]:
print(df.shape)

(121, 9)

In [18]:
df.tail()

,'Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered',Unnamed: 8
116,'1715,02/17/2020 22:00:00,Madison','WI,US,2020-02-05T21:53:02,1,0,0'
117,'1716,02/17/2020 22:00:00,Orange','CA,US,2020-02-01T19:53:03,1,0,0'
118,'1717,02/17/2020 22:00:00,San Antonio','TX,US,2020-02-13T18:53:02,1,0,0'
119,'1718,02/17/2020 22:00:00,Seattle','WA,US,2020-02-09T07:03:04,1,0,1'
120,'1719,02/17/2020 22:00:00,Tempe','AZ,US,2020-02-01T19:43:03,1,0,0'

In [19]:
#eliminar la ultima columna
#Eliminar columnas >> id, hostaname y last_review
columns_to_drop = ['Unnamed: 8']
df.drop(columns_to_drop, axis= 'columns', inplace=True)

In [20]:
df.count()

'Sno              121
Date              121
Province/State     95
Country           121
Last Update       121
Confirmed         121
Deaths            121
Recovered'        121
dtype: int64

In [21]:
print(df.shape)

(121, 8)

In [22]:
# Analizar tipos de datos
df.dtypes

'Sno              object
Date              object
Province/State    object
Country           object
Last Update       object
Confirmed         object
Deaths             int64
Recovered'        object
dtype: object

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
#Listado de columnas
print(df.columns)

Index([''Sno', 'Date', 'Province/State', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered''],
      dtype='object')

In [25]:
df.drop(columns= ['Date', 'Last Update'], inplace=True)

In [26]:
#Verificacion de eliminacion
print(df.shape)

(121, 6)

In [27]:
#determinar valores faltantes
print(df.isna().sum()) #isna es una funcion booleana

'Sno               0
Province/State    26
Country            0
Confirmed          0
Deaths             0
Recovered'         0
dtype: int64

In [28]:
#Se puede utilizar la funcion info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   'Sno            121 non-null    object
 1   Province/State  95 non-null     object
 2   Country         121 non-null    object
 3   Confirmed       121 non-null    object
 4   Deaths          121 non-null    int64
 5   Recovered'      121 non-null    object
dtypes: int64(1), object(5)
memory usage: 5.8+ KB

In [29]:
#Funcion Describe
df.describe()  #EDA Analis Exploratorio de datos

            Deaths
count   121.000000
mean     15.586777
std     162.575555
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max    1789.000000

In [30]:
df.describe().T #Se transponen los datos
#Se recomienda hacer el curso de Pandas de w3school

        count       mean         std  min  25%  50%  75%     max
Deaths  121.0  15.586777  162.575555  0.0  0.0  0.0  1.0  1789.0